.answerRecordTable {
  border-collapse: collapse;
  color: #fff;
}

.col1Layout {
  width: 100px;
  margin-right: 0.5rem;
}

.col1 {
  border-right: solid;
  border-color: #fff;
}

.col2Layout {
  width: 150px;
  margin-right: 0.5rem;
}

.col2 {
  border-right: solid;
  border-color: #fff;
}

.bottomBorder {
  border-bottom: solid;
  border-color: #fff;
}

.tableBody {
  text-align: center;
}

