.answerRecordTable {
  color: #fff;
}

.title {
  display: flex;
  border-style: none none solid none;
  border-color: #fff;
  border-width: 5px;
}

.singleRow {
  display: flex;
}

.col1Layout {
  width: 100px;
  margin-right: 0.5rem;
}

.col1 {
  border-style: none solid none none;
  border-color: #fff;
}

.col2Layout {
  width: 100px;
  margin-right: 0.5rem;
  display: flex;
}

.col2 {
  border-style: none solid none none;
  border-color: #fff;
}

