@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.mainWidgetLyt {
  /* Center horizontally*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin-top: 1rem;
}

.mainWidget {
  background-color: #03072A;
}

.leftRegionLyt {
  width: 250px;
  margin-right: 1rem;
}

.rightRegionLyt {
  margin: 0 5%;
}

.buttonContainerLyt {
  display: flex;
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
  .rightRegionLyt {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .mainWidgetLyt {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }
  .rightRegionLyt {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .leftRegionLyt {
    width: 80%;
    margin-right: 0;
  }
}