@keyframes rollout {
  0% { transform: translateY(-100px); }
  100% { transform: none; }
}

@keyframes blur {
	0%		{text-shadow:  0 0 10px #53A8F1;}
	50%	{text-shadow:  0 0 20px #53A8F1;}
  100%		{text-shadow:  0 0 10px #53A8F1;}
}

.countryTitleLyt {
  padding-bottom: 1rem;
  display: flex;
}

.countryTitle {
  font-family: 'Lato', sans-serif;
  color: #53A8F1;
  font-size: 1.5rem;
}

.hintChar{
  animation: rollout 0.4s;
}

.hintCharBlur{
  color: transparent;
	animation: blur 2s linear infinite;
	-webkit-animation: blur 2s linear infinite;
}

.hintCharLyt {
  margin: 0;
}

.titlePLyt{
  margin-right: 0.5rem;
}

