.font {
  color: white;
}

.clickCircle {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.imageContainerPos {
  position: relative;
  cursor: crosshair;
}